.button-carousel {
  position: absolute !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  top: 50% !important;
  height: 50px !important;
  width: 50px !important;
  cursor: pointer !important;
  background-color: #18181b !important;
  border-color: #27272a !important;
  color: #9f9fa9 !important;
}

.button-carousel:hover {
  color: #b4956d !important;
  border-color: #b4956d !important;
  background-color: #18181b !important;
}

