<dialog
  #dialogRef
  (close)="close()"
  (click)="$event.target === dialogRef ? close() : null"
  class="w-screen h-screen max-w-none max-h-none m-0 bg-transparent border-none outline-none select-none overflow-hidden backdrop:bg-black/95 backdrop:backdrop-blur-md"
>
  <button
    (click)="close()"
    class="absolute top-6 right-6 h-10 w-10 flex items-center justify-center  bg-zinc-900/60 border border-zinc-800 text-zinc-400 hover:text-elite-orange hover:border-elite-orange hover:bg-zinc-900 transition-all cursor-pointer font-sans text-sm shadow-xl"
    aria-label="Close overlay"
  >
    ✕
  </button>

  @if (images().length > 1) {
    <button
      (click)="prev($event)"
      class="button-carousel left-6 -translate-y-1/2 border transition-all group shadow-xl"
      aria-label="Previous frame"
    >
      <mat-icon>arrow_left</mat-icon>
    </button>

    <button
      (click)="next($event)"
      class="button-carousel right-6 -translate-y-1/2 border transition-all group shadow-xl"
      aria-label="Next frame"
    >
      <mat-icon>arrow_right</mat-icon>
    </button>
  }

  <div
    class="flex flex-row w-full h-full overflow-x-auto overflow-y-hidden snap-x snap-mandatory scroll-smooth no-scroll-gutters pointer-events-none"
  >
    @for (img of images(); track $index) {
      <div
        [id]="'lightbox-img-' + $index"
        class="w-screen h-screen shrink-0 flex flex-col items-center justify-center snap-center p-4 md:p-24 pointer-events-auto"
      >
        <div class="relative max-w-[70vw] max-h-[75vh] flex items-center justify-center">
          <img
            [src]="img"
            class="max-w-full max-h-full object-contain rounded shadow-2xl border border-zinc-900/40 select-none pointer-events-none"
            alt="Expanded system tactical asset frame preview"
          />
        </div>

        <div
          class="mt-4 font-mono text-[10px] tracking-widest text-zinc-400 uppercase bg-zinc-900/80 border border-zinc-800/80 px-4 py-1 rounded-full shadow-md"
        >
          {{ $index + 1 }} / {{ images().length }}
        </div>
      </div>
    }
  </div>
</dialog>
